<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Find Location</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Palanquin:400,100,200,300' '>

      <link rel="stylesheet" href="../static/style.css">


</head>

<body>

  <form id="content" method="post", action="http://127.0.0.1:5000/build">
  <input type="text" name="input" class="input">
  <button type="reset" class="search"></button>
</form>
  <h1 align="center">Find Twitter user</h1>
<em align="center">Friends</em>
  <em align="center">Locations</em>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="../static/index.js"></script>


</body>

</html>
